#mySite1{
width: 33%;
}

#buttons1{
   width: 33%;
   max-width: 20%;
}

.image1{
    width: 33%;
}

#buttons2{
    width: 33%;
}

.image2{
    width: 33%;
}

#buttons3{
    width: 33%;
}

.image3{
    width: 33%;
}

#buttons4{
    width: 33%;
}

.image4{
    width: 33%;
}

#buttons5{
    width: 33%;
}

.image5{
    width: 33%;
}

#buttons6{
    width: 33%;
}

.image6{
    width: 33%;
}

#buttons7{
    width: 33%;
}

.image7{
    width: 33%;
}

#buttons8{
    width: 33%;
}

.image8{
    width: 33%;
}

#buttons9{
    width: 33%;
}

.image9{
    width: 33%;
}